header {
    background-color: #fff;
    height: 5.5rem;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding : 0rem 4rem;
    z-index: 10;
}


ul.links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul li.list-item {
    list-style-type: none;
    margin : 0rem 1rem;
    font-size : .8rem;
}
 
ul li button{
    background: #ffffff;
    border: 2px solid #9f7fff;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s cubic-bezier(0.22, 0.61, 0.36, 1);
    font-weight: 600;
    font-family: arial;
    color: #5e35d9;
}

li button:hover {
   color: rgb(255, 255, 255);
   border: 2px solid rgb(149, 79, 255);
   background: #5e34f6;
}

#speed-category {
    background: #fdfdfd;
     border: 2px solid #9f7fff;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s cubic-bezier(0.22, 0.61, 0.36, 1);
    font-weight: 600;
    font-family: arial;
    color: #5e35d9;
    padding: .5rem;
    font-size: 12px;
    width: 150px;
}

.hamburger-menu {
    cursor: pointer;
    border: 1px solid rgba(207, 206, 206, 0.977);
    padding:.2rem .5rem ;
    border-radius: 5px;
    display: none;
}

@media screen and (max-width: 600px) {
  
   .hamburger-menu {
     display: block;
   }
}